.Line {
    height: 1px;
    width: 100%;
    background-color: rgb(173, 171, 171);
}

.paymentPartners {
    width: 20%;
}

.AppStore {
    width: 60%;
}

@media only screen and (max-width: 576px) {
    .fontSizeMobile {
        font-size: x-small;

    }

    .btnFontMobile {
        font-size: 0.5rem;
    }
    
}